body {
  background-image: url("Background.jpg");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

ul {
  list-style-type: none;
  width: 90%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:last-child {
  border-right: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

#info {
  float: right;
  width: 50%;
  text-align: center;
  color: white;
}

#picture {
  float: left;
  width: 50%;
  text-align: center;
}

img {
  border-radius: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}